@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --heading-font: 'Press Start 2P', system-ui;
  --paragraph-font: 'DotGothic16', sans-serif;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

/* ========= Header Style ========= */

.title h2 {
  font-family: var(--heading-font);
  font-size: 1.3rem;
}

.title {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
}

.flex-container p {
  font-family: var(--paragraph-font);
  font-weight: 500;
}

.flex-container h1 {
  font-family: var(--heading-font);
  font-size: 1rem;
  border: 2px #000;
  border-style: dashed;
  padding: 10px;
}

/* ========= Footer Style ========= */

footer {
  position: fixed;
  bottom: 20px;
}

footer p {
  font-family: var(--paragraph-font);
  font-size: 0.8rem;
}
